body{
    background-color: #010101;
}
header{
  font-family: garamond;
  font-weight: bold;
  background-color: #010101; 
  color: #FFFFFF; 
  padding: 20px;
  text-align: center;
  font-size: 2em;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 
               -2px -2px 5px rgba(255, 255, 255, 0.3); /* Shadow for embossed look */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),  /* Inner shadow for depth */
              6px 8px 18px rgba(0, 0, 0, 0.3); /* Outer shadow for lift */
  border: 2px solid yellow;
}
#container{
    display: flex;
    gap: 1rem;
    margin: 30px 0;
    height: 60vh;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 768px) {
    #container {
      flex-direction: column; 
      align-items: center;
      height: 160vh;
      gap: 1rem;
    }
  
    #container > div {
      width: 75vw;
      height: 42vh; 
      max-width: 100vw;
    }
    .list-view, .play-view, .done-view{
    justify-content: center;
    align-items: center;
    }
  }
#list, #playing, #done{
  background-color: #010101; 
  color: #FFFFFF; 
  padding: 20px;
  width: 28vw;
  height: 60vh;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 
               -1px -1px 3px rgba(20, 20, 20, 0.3); /* Shadow for embossed look */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5),  /* Inner shadow for depth */
              0 4px 10px rgba(0, 0, 0, 0.3); /* Outer shadow for lift */
  border: 2px solid yellow;
}

.list-view, .play-view, .done-view{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in 180ms;
}
.list-view:hover, .play-view:hover, .done-view:hover{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease-in 180ms;
}
.list-view{
    background-image: url("img/gamelist-img.png");
}
.list-view:hover, .list-view.active{
    background-image: url("img/playlist-img.png");
}
.play-view{
    background-image: url("img/currentlist-img.png");
}
.play-view:hover, .play-view.active{
    background-image: url("img/currentlyplaying-img.png");
}
.done-view{
    background-image: url("img/done-img.png");
}
.done-view:hover, .done-view.active{
    background-image: url("img/donelist-img.png");
}
#game-list{
    width: 100vw;
    height: 100vh;
    background-color: #010101;
    color: #FFFFFF;
    display: none;
}
#current-playing{
    display: none
}
#done-playing{
    display: none;
}
#game-form{
    display: none;
}